body{
  background-color:black
  
      
}
p{
  color:white;
  font-family: 'Fjalla One', sans-serif;
  font-style:italic;
  font-size:20px;
}
img{
  padding:px
}

.quotes{
  background-color:#111111;
  width:30%;
  margin-right:auto;
  margin-left:auto;
  border-color:white;
  border-style:solid;
  border-radius:5px;
  margin-top:20px;
  padding:20px;
  height:auto;
  color:white;
}
.quotes{
  font-size: calc(0.75em + 1vmin);
  font-style:bold;
  font-family: 'Ubuntu Mono', monospace;
}

.author{
  font-size:18px;
  font-style:italic;
}
.unit{
  font-size:12px;
}
.doe{
    font-size:12px;
}
.labeldoe{
    font-size:12px;
}
.divider{
    font-size:12px;
}
.btn{
    letter-spacing: .5px;
}

@media only screen and (max-width: 320px) {

   body { 
      font-size: 2em; 
   }

}