body{
  background-color:black
  
      
}
p{
  color:white;
  font-family: 'Fjalla One', sans-serif;
  font-style:italic;
  font-size:20px;
}
img{
  padding:0px
}

.quotes{
  background-color:black;
  width:45%;
  margin-right:auto;
  margin-left:auto;

  margin-top:20px;
  padding:15px;
  height:auto;
  color:white;
}
.quotes{
  font-size:x-large;
  font-style:bold;
  font-family: 'Ubuntu Mono', monospace;
}

.author{
  font-size:medium;
  font-style:italic;
}
.unit{
  font-size:12px;
}
.doe{
    font-size:12px;
}
.labeldoe{
    font-size:12px;
}
.divider{
    font-size:12px;
}
.btn{
    letter-spacing: .5px;
}
